{% extends 'site/base.html' %}
{% block content %}

{% load static %}
<footer class="footer">
    <div class="holder">
        <div class="footer-block">
            <div class="footer-col">
                <div class="footer-logo"><img src="{% static 'images/logo-black.svg' %}" alt=""></div>
                <ul class="footer-nav">
                    <li><a href="">Maxfiylik siyosati</a></li>
                    <li><a href="">Qaytish shartlari</a></li>
                    <li><a href="">Qabul qilish punktlari</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <ul class="footer-nav">
                    <li><a href="">Akkordeon</a></li>
                    <li><a href="">Burchakli divanlar</a></li>
                    <li><a href="">Oynali divanlar</a></li>
                    <li><a href="">"Fulcomplekt" divanlar</a></li>
                    <li><a href="">Yumshoq Divanlar </a></li>
                    <li><a href="">Eurobook divanlari</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <ul class="footer-nav">
                    <li><a href="">Akkordeon</a></li>
                    <li><a href="">Burchakli divanlar</a></li>
                    <li><a href="">Oynali divanlar</a></li>
                    <li><a href="">"Fulcomplekt" divanlar</a></li>
                    <li><a href="">Yumshoq Divanlar </a></li>
                    <li><a href="">Eurobook divanlari</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <div class="footer-phone"><a href="tel:+998942755638">998 94 275 56 38</a></div>
                <a href="" class="white-button">Savol berish</a>
            </div>
        </div>
    </div>

</footer>

{% endblock %}